.clock{
    display: inline-flex;
    position: relative;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #0b0d1a;
    width: 224px;
    height: 224px;
}
.time{
    position: absolute;
}
.clockTime {
    font-size: 3rem /* 48px */;
    line-height: 1;
    font-weight: 600;
}
.clockTime_end{
    color: orangered;
}
.sombra{
    box-shadow: 
    inset 0 10px 0px 15px #0a0f35aa,
    inset 0 0 0px 15px #2b3058aa,
    0 0 40px 10px #00000080;
    overflow: hidden;
    padding: 3em;
   --valor:260px;
   width: var(--valor);
   height: var(--valor);
}


.textShadow{
    text-shadow: 0 0 5px orangered;
}
.progress-bar__progress {
    fill: none;
    stroke-dasharray: 40 40 50 50 40 50 50;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease-in-out;
  }